/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-white: #ffffff;
  --color-gray-100: #f6f6f6;
  --color-gray-200: #7d7d7d;
  --color-gray-300: #949494;
  --color-gray-400: #312d2d;
  --color-gray-500: #544c4c;
  --color-red-400: #dd131f;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--color-white);

  --color-text: var(--color-gray-400);
  --color-text-muted: var(--color-gray-500);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-gray-400);

    --color-text: var(--color-gray-100);
    --color-text-muted: var(--color-gray-200);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s,
  background-color 0.5s;
  line-height: 1.6;
  font-family: DM Sans, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
