@import 'reset';
@import 'grid';
@import 'base';

.container {
  max-width: 75rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--color-link)
}

a:hover {
  color: var(--color-link-hover)
}